.app-header{

  button{
    margin: 0 16px;
  }

  .spacer{
    flex: 1 1 auto
  }

  .mat-toolbar{
    background-color: #000;
    color: #fff;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
  }


}


